p{
	font-size: 2em;
	margin-top: 40px;
	margin-left: 110px;
}
.alignR{text-align:right;}
.alignL{text-align:left;}
.defaultBtn:hover{color:#fff; text-decoration:none; background:#333}
.shopBtn {min-height: 34px;font-size: 14px;font-weight: bold;line-height: 34px;text-align: center;color: #fff;border-radius: 2px;background: #f89406;display:inline-block;padding:0 12px;border:0;}
.defaultBtn {min-height: 34px;font-size: 14px;font-weight: bold;line-height: 34px;text-align: center;border-radius: 2px;display:inline-block;padding:0 12px;color: #666;text-decoration: none;background: #e6e6e6;border:0;}
.shopBtn:hover {color: #fff; text-decoration:none; background:#F86706}
sub.fa-info-circle{
	font-size: 16px;
    color: #f8ad35;
}

h5{
	margin-left: 35px;
	font-weight:bold;
}

img{
	width: 80px;
}

h5.align{
	margin-left:30px;
}
