
/*--------- Font ------------*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

body {
    background: #F2F2F2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;    
}
.wrapper {
    
}

img{
	display:block;
	margin: 0 auto;
}

.hidden{
	visibility: hidden;
}
.pricing-table {
    max-width: 69em;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
	zoom: 1;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 100%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
	font-size: 1.7em;
    text-transform: capitalize;
    line-height: 3.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 4rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.price sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 10%;
    font-size: 1.2rem;
}

.features ul{
	text-align: center;
}

.features li{
    padding-top:40px;
    width: 300px;
	font-size:1.2em;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    font-size: 0.9rem;
    text-transform: capitalize;
}
/*STANDARD*/
.standard .title{        
    
	background: #808080;
}
.standard .content{
	background: #D3D3D3;
    
}
.standard .pt-footer{
	margin-top: 5px;
	
	background: #808080;
}
.standard .content:after{	
	
	border-top-color: #D3D3D3;	
}
.standard .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*JUST BLUE*/
.justBlue .title{
    background: #3EC6E0;
}
.justBlue .content{
    background: #53CFE9;
}
.justBlue .pt-footer{
	margin-top: 5px;
	background: #3EC6E0;
}

.justBlue .content:after{	
	border-top-color: #53CFE9;	
}
.justBlue .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*SIMPLY GREEN */
.simplyGreen .title{
    background: #78CFBF; 
}
.simplyGreen .content{
    background: #82DACA;
}
.simplyGreen .pt-footer{
	margin-top:5px;
	background: #78CFBF;
}
.simplyGreen .content:after{	
	border-top-color: #82DACA;	
}
.simplyGreen .pt-footer:after {	
	border-top-color: #FFFFFF;	
}

li .fa-info-circle, .fa-info-circle{
	font-size: 17px;
	color: #f8ad35;
}




@media screen and (min-width: 481px) and (max-width: 768px) {

.block {
	width: 100%;
	margin: 0 2% 20px 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

.block {
	width: 31%;
	margin: 0 2% 20px 0;
	
}

.block ul{
	font-size: 87%;
}

}

@media screen and (min-width: 1025px) {

.pricing-table {
	margin: 2em auto;
}

.block {
	width: 32%;
	margin: 0 1.33% 20px 0;

}

.block:hover {
	-webkit-transform: scale(1.04);
	   -moz-transform: scale(1.04);
	    -ms-transform: scale(1.04);
	     -o-transform: scale(1.04);
	        transform: scale(1.04);
}

.content {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.content:hover {
	background: #3e4f6a;
	color: #fff;
}

}
